# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
# Specific non-upload assets
*.pdf
*QR (원본).png
*QR (웹앱).jpeg
오프닝 세레모니 미션 가이드북 QR (원본).png
오프닝 세레모니 미션 가이드북 QR (웹앱).jpeg
오프닝세레모니 미션 가이드북.pdf
